#navigation {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

#actions {
    -webkit-app-region: no-drag;
}

.nav-item a .material-symbols-outlined {
    color: #fff;
}
